 
<li class="contact-list-item">
    <a href="#">
        <span class="pro-pic">
            <img src="/<%- usera.image %>" alt="Support User" title="Support User" />
            <i class="active">&nbsp;</i>
        </span>
        <div class="user">
            <p class="user-name"><%- usera.name %></p>
            <p class="user-designation"><%- usera.email %></p>
        </div>
    </a>
</li> 