<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">send email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <form action="/email/addEmail" method="POST" enctype="multipart/form-data">

          <div class="modal-body">
            <div class="form-group">
              <label for="email1">Email address</label>
              <input type="email" name="reseveremail" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">  safe with us.</small>
            </div>
            <div class="form-group">
              <label for="password1">titel</label>
              <input type="text" name="titel" class="form-control" id="titel" placeholder="titel">
            </div>
            <div class="form-group">
              <label for="password1">massege</label>
              <input type="text" name="content" class="form-control" id="password1" placeholder="massege">
            </div>
            <div class="form-group">
              <label for="password1">attace file</label>
              <input type="file" name="file" class="form-control" id="password2" placeholder="file">
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>